@charset "UTF-8";
/* components */
/* button */
/* forms */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: #fff;
}

body {
  font-family: "microsoft yahei", "helvetica neue", arial, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.428;
  text-align: left;
}

a, a:visited {
  color: #222;
  text-decoration: none;
  outline: 0;
}

a:active {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fr {
  float: right !important;
}

.fl {
  float: left !important;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* 位移 */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

/* 颜色 */
.txt-success {
  color: #A2D549;
}

.txt-error {
  color: #e00;
}

.txt-warning {
  color: #f60;
}

.txt-fail {
  color: #aaa;
}

.transition {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

.page {
  /* position: absolute;
    top: 0;
    bottom: 0; */
  width: 100%;
  overflow-x: hidden;
}

.page-title {
  display: inline-block;
  padding: 15px 0 15px 20px;
  font-size: 18px;
  line-height: 20px;
  border-bottom: #ccc solid #aaa;
  background: #F2F2F2;
}

.page-title-back {
  padding-left: 30px;
  position: relative;
}

.page-title-back:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #aaa;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -5px;
}

/* 容器 */
.box-space {
  padding: 5px 10px;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* components */
.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 400px;
  min-width: 120px;
  padding: 14px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #222;
  background: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 4px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #999;
  background: #E4E4E4;
}

.btn-primary {
  color: #fff;
  background: #ED7020;
}

.btn-block {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 200px;
}

.btn-group {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.btn-group .btn + .btn {
  margin-left: 10px;
}

.btn-group + .btn-group {
  margin-top: 0;
}

.btn-group-couple .btn {
  width: 45%;
}

.btn-group-couple .btn + .btn {
  margin-left: 5%;
}

input[type=text],
input[type=password] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.428;
  padding: 3px 10px;
  border: none;
  outline: none;
  font-family: "microsoft yahei", "helvetica neue", arial, sans-serif;
}

.input-block {
  width: 100%;
}

/* Form control-group */
.control-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 3.6;
}

.control-group:before, .control-group:after {
  content: "";
  display: table;
}

.control-group:after {
  clear: both;
}

.control-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-left: 20px;
  width: 100px;
  /* padding-top: 4px; */
  font-size: 14px;
  text-align: left;
  color: #333;
}

.controls {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-left: 100px;
}

.controls input {
  padding: 10px 10px;
}

.controls-text {
  /* padding-top: 4px; */
}

/**
 * UI animate.
 *
 * @section animate
 */
.ani-init {
  opacity: 0;
  transition: all 0.3s;
}

.ani-final {
  opacity: 1;
}

/**
 * UI mask.
 *
 * @section mask
 */
.overlay, .overlay-white {
  position: fixed;
  z-index: 1999;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

.overlay-white {
  background: rgba(255, 255, 255, 0.7);
}

/**
 * UI alert.
 *
 * @section alert
 */
.wrong-wrap {
  position: fixed;
  z-index: 10000;
  top: 20%;
  width: 100%;
  height: 0px;
  text-align: center;
}

.wrong-tip {
  display: inline-block;
  min-width: 150px;
  max-width: 75%;
  padding: 30px 20px;
  color: #eee;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 3px #888;
}

.wrong-wrap.ani-init {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}

.wrong-wrap.ani-final {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/**
 * UI message for ajax.
 *
 * @section message
 */
.message-ajax {
  position: fixed;
  z-index: 2000;
  top: 20%;
  left: 0;
  width: 100%;
  height: 0;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1200px;
  /* 	
	left: 44%;
	width: 220px;
	background: #ffcc00;
	@include border-radius($ajax-msg-bd-radius);
	@include towColorGradient($ajax-msg-start-color, $ajax-msg-end-color); 
	*/
}

.message-ajax .message-ajax-txt {
  display: inline-block;
  min-width: 200px;
  background: none;
  padding: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #ed7020;
  font-weight: normal;
  font-size: 16px;
}

.message-ajax.ani-init {
  /* transform: rotateX(90deg); */
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.message-ajax.ani-final {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/**
 * UI progress bar.
 *
 * @section progress bar
 */
.loading-wrap {
  position: fixed;
  z-index: 3000;
  top: 30%;
  left: 50%;
  width: 60%;
  height: 100px;
  margin-left: -30%;
  text-align: center;
}

.loading-bar-wrap {
  display: inline-block;
  width: 60%;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: left;
  background-color: #eee;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

.loading-bar {
  display: inline-block;
  float: left;
  height: 24px;
  background: #ed7020;
  /* &:after {
        display: block;
        content: "";
        width: $probar-bar-height;
        height: $probar-bar-height;
        background: #fff;
        box-shadow: 0 0 6px rgb(255,255,255);
        @include border-radius($probar-bar-radius); 
        float: right;
    } */
}

.loading-des {
  font-size: 14px;
  color: #fff;
}

.loading-percent {
  display: block;
  width: 100%;
  height: 66.66667px;
  font-size: 66.66667px;
  line-height: 66.66667px;
  letter-spacing: -2px;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

html {
  background: #f2f2f2;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

/* page */
.page.animating {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

/* control group定制 */
.control-group {
  border: 1px solid #ccc;
  background: #fff;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
}

.control-group + .control-group {
  border-top: none;
}

.control-group-icon {
  position: relative;
  padding-left: 40px;
}

.control-group-icon .control-label {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 40px;
  height: 100%;
  padding: 0;
}

.control-group-icon .controls {
  margin: 0;
  width: 100%;
}

.controls-password {
  position: relative;
}

.controls-password input {
  padding-right: 40px;
}

.controls-password .see-pwd-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -24px;
  width: 40px;
  height: 48px;
}

.icon-seepwd {
  background: url(/a9/common/img/seepwd.png) no-repeat 5px 10px;
  background-size: 28px 28px;
}

.icon-noseepwd {
  background: url(/a9/common/img/noseepwd.png) no-repeat 5px 10px;
  background-size: 28px 28px;
}

/* 下一步箭头 更多 */
.get-more {
  position: relative;
}

.get-more:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #aaa;
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}

/* login */
.page-login .logo-small {
  width: 141px;
  height: 30px;
  margin: 10px;
  background: url(/a9/common/img/logo_small.png) no-repeat;
  background-size: 100px;
}

.login-brand {
  padding: 30px;
}

.login-lock, .login-lock-pic {
  display: inline-block;
  width: 147px;
  height: 147px;
  background-color: #ed7020;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  -webkit-animation: a 5s;
  -moz-animation: a 5s;
  -ms-animation: a 5s;
  -o-animation: a 5s;
  animation: a 5s;
}

.icon-login-lock {
  background: url(/a9/common/img/icon-login-lock.png) no-repeat 6px 10px;
  background-size: 30px 30px;
}

.login-lock-pic {
  opacity: 0.8;
  background: url(/a9/common/img/login_brand.png) no-repeat center;
  background-size: 50%;
}

@-moz-keyframes a {
  0% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes a {
  0% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes a {
  0% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes a {
  0% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes spand {
  0% {
    width: 0px;
    height: 0px;
  }
  86% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
  }
  95% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    opacity: 0;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0;
    margin-top: -0;
    opacity: 0;
  }
}

@-webkit-keyframes spand {
  0% {
    width: 0px;
    height: 0px;
  }
  86% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
  }
  95% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    opacity: 0;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0;
    margin-top: -0;
    opacity: 0;
  }
}

@-o-keyframes spand {
  0% {
    width: 0px;
    height: 0px;
  }
  86% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
  }
  95% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    opacity: 0;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0;
    margin-top: -0;
    opacity: 0;
  }
}

@-ms-keyframes spand {
  0% {
    width: 0px;
    height: 0px;
  }
  86% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
  }
  95% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    opacity: 0;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0;
    margin-top: -0;
    opacity: 0;
  }
}

@keyframes spand {
  0% {
    width: 0px;
    height: 0px;
  }
  86% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
  }
  95% {
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    opacity: 0;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0;
    margin-top: -0;
    opacity: 0;
  }
}

/* 扫描页面 */
.signal-wrap {
  position: absolute;
  width: 100%;
  top: 55px;
  bottom: 110px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  box-shadow: #efefef 0px -5px 10px inset, #efefef 0px 5px 10px inset;
}

.signal-wrap .signal-scroll {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.signal-item {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.signal-item:before, .signal-item:after {
  content: "";
  display: table;
}

.signal-item:after {
  clear: both;
}

.signal-item .signal-text {
  display: inline-block;
  width: 70%;
}

.signal-item .scan-icon {
  width: 20px;
  height: 20px;
  float: right;
  margin: 10px 5px;
}

.signal-item .icon-signal {
  margin-right: 20px;
}

.icon-lock {
  background: url(/a9/common/img/lock.png) no-repeat 0 0;
  background-size: 24px 24px;
}

.icon-signal {
  background: url(/a9/common/img/wifi_strength.png) no-repeat;
  background-size: 80px 12px;
}

.icon-signal-4 {
  background: url(/a9/common/img/wifi_strength.png) no-repeat 0 5px;
  background-size: 80px 12px;
}

.icon-signal-3 {
  background: url(/a9/common/img/wifi_strength.png) no-repeat -20px 5px;
  background-size: 80px 12px;
}

.icon-signal-2 {
  background: url(/a9/common/img/wifi_strength.png) no-repeat -40px 5px;
  background-size: 80px 12px;
}

.icon-signal-1 {
  background: url(/a9/common/img/wifi_strength.png) no-repeat -60px 5px;
  background-size: 80px 12px;
}

.rescan-btn-wrap {
  position: absolute;
  width: 100%;
  bottom: 40px;
}

/* 用户列表页面 */
.online-wrap, .black-wrap {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  box-shadow: #efefef 0px -5px 10px inset, #efefef 0px 5px 10px inset;
}

.online-wrap .online-scroll,.black-wrap .black-scroll{
  width: 100%;
  overflow: hidden;
}

.list-item {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.list-item:before, .list-item:after {
  content: "";
  display: table;
}

.list-item:after {
  clear: both;
}

.list-item .list-text {
  display: inline-block;
  width: 80%;
}

.user-list-icon {
    position: absolute;
    margin-top: 10px;
    background-color: rgb(215,215,215);
    font-family: inherit;
    border-radius: 10px;
}

.online-num-icon {
    display: inline-block;
    width: 40px;
    text-align: center;
    background: url(/a9/common/img/numback.png) no-repeat 8px 13px;
    font-size: 12px;
    font-family: inherit;
}

/* 桥接中 */
.page-bridging {
  background: #fff;
}

.bridging-wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  transform: translateY(-60%);
}

.connecting-pic {
  position: relative;
  display: inline-block;
  width: 147px;
  height: 147px;
}

.connecting-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/a9/common/img/scanning_circle.png) no-repeat center;
  background-size: 100% 100%;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.connecting-circle.connect-fail {
  background: #e2e2e2;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

@-moz-keyframes rotate {
  0% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

@-o-keyframes rotate {
  0% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

@-ms-keyframes rotate {
  0% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

/* 桥接结果页面 */
.header-bridge-status {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 50px;
}

.header-bridge-status .logo-small {
  float: left;
}

.header-bridge-status .visit-pc-link {
  float: right;
  font-size: 14px;
  padding: 15px;
  color: #888;
}

.logo-small {
  width: 141px;
  height: 30px;
  margin: 10px;
  background: url(/a9/common/img/scanpage.png) no-repeat -210px 0;
  background-size: 310px 80px;
}

.conn-result-wrap {
  background: #fff;
  height: 360px;
  position: relative;
  overflow-y: hidden;
  -webkit-transition: all 1s false;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 1s false 0.5s;
  -o-transition: all 1s false 0.5s;
  transition: all 1s 0.5s;
}

.conn-result-wrap.disconnected {
  background: #ddd;
  height: 360px;
}

.conn-result-wrap.disconnected .bridge-des {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.conn-result-wrap .connecting-pic {
  display: none;
}

.conn-result-wrap.connecting {
  height: 300px;
}

.conn-result-wrap.connecting .connecting-pic {
  display: block;
}

.conn-result-wrap.connecting .conn-ani-circle1,
.conn-result-wrap.connecting .conn-ani-circle2,
.conn-result-wrap.connecting .conn-ani-circle3,
.conn-result-wrap.connecting .big-signal-strength,
.conn-result-wrap.connecting .big-signal-white {
  display: none;
}

.conn-result-wrap.connecting .bridge-des {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.conn-result-wrap.connected {
  height: 360px;
  background: rgb(241, 245, 248);
}

.conn-result-wrap.connected .bridge-des {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.conn-result-wrap.connected .conn-ani-circle1,
.conn-result-wrap.connected .conn-ani-circle2,
.conn-result-wrap.connected .conn-ani-circle3 {
  display: inline-block;
}

.conn-result-pic {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 147px;
  height: 147px;
  /*未连接*/
  /*连接中*/
  /*已连接*/
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.bridge-des {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 1s false;
  -moz-transition: all 1s false false;
  -o-transition: all 1s false false;
  transition: all 1s;
}

.bridge-des .control-group {
  line-height: 45px;
  border-color: #ddd;
  font-size: 14px;
  font-size: 14px;
}

.bridge-des .control-label {
  font-size: 14px;
  white-space: nowrap;
}

.bridge-des .controls {
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
}

.bridge-status {
  position: absolute;
  z-index: 2;
  bottom: -20px;
  width: 100%;
  padding: 15px 0 25px 0;
  background: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 1s false;
  -moz-transition: all 1s false false;
  -o-transition: all 1s false false;
  transition: all 1s;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.07);
}

.bridge-status p {
  margin-left: 30%;
  width: 60%;
  text-align: center;
  color: #aaa;
}

/* 大信号图标以及强度 */
.big-signal-box {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: -10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.big-signal-box .big-signal {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: 310px 80px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-border-radius: 0 90% 0 0;
  -moz-border-radius: 0 90% 0 0;
  -ms-border-radius: 0 90% 0 0;
  -o-border-radius: 0 90% 0 0;
  border-radius: 0 90% 0 0;
}

.big-signal-box.big-signal-1 .big-signal {
  background-image: url(/a9/common/img/scanpage.png);
}

.big-signal-box.big-signal-2 .big-signal {
  background-image: url(/a9/common/img/scanpage.png);
  background-position: -105px bottom;
}

.big-signal-box.big-signal-3 .big-signal {
  background-image: url(/common/img/big_signal_3.png);
}

.big-signal-box.big-signal-strength .big-signal {
  width: 0;
  height: 0;
  z-index: 2;
  -webkit-transition: all 2.5s false;
  -moz-transition: all 2.5s false false;
  -o-transition: all 2.5s false false;
  transition: all 2.5s;
}

.big-signal-box.strong .big-signal {
  width: 110%;
  height: 110%;
}

.big-signal-box.normal .big-signal {
  width: 85%;
  height: 85%;
}

.big-signal-box.weak .big-signal {
  width: 30%;
  height: 30%;
}

.conn-ani-circle1, .conn-ani-circle2, .conn-ani-circle3 {
  width: 0px;
  height: 0px;
  background: #888;
  position: absolute;
  opacity: 0.12;
  left: 50%;
  top: 50%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s false;
  -moz-transition: all 1s false false;
  -o-transition: all 1s false false;
  transition: all 1s;
}

.conn-ani-circle3 {
  width: 120px;
  height: 120px;
  -webkit-transition: all 1s false;
  -webkit-transition-delay: 0.8s;
  -moz-transition: all 1s false 0.8s;
  -o-transition: all 1s false 0.8s;
  transition: all 1s 0.8s;
}

.conn-ani-circle2 {
  width: 120px;
  height: 120px;
  -webkit-transition: all 2s false;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all 2s false 0.4s;
  -o-transition: all 2s false 0.4s;
  transition: all 2s 0.4s;
}

.conn-ani-circle1 {
  width: 180px;
  height: 180px;
  -webkit-transition: all 3s false;
  -moz-transition: all 3s false false;
  -o-transition: all 3s false false;
  transition: all 3s;
}

.connected .conn-ani-circle1 {
  background: #FF974E;
  width: 120px;
  height: 120px;
  -webkit-transition: all 1s false;
  -webkit-transition-delay: 0.8s;
  -moz-transition: all 1s false 0.8s;
  -o-transition: all 1s false 0.8s;
  transition: all 1s 0.8s;
}

.connected .conn-ani-circle2 {
  background: #FF974E;
  width: 120px;
  height: 120px;
  -webkit-transition: all 2s false;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all 2s false 0.4s;
  -o-transition: all 2s false 0.4s;
  transition: all 2s 0.4s;
}

.connected .conn-ani-circle3 {
  background: #FF974E;
  width: 180px;
  height: 180px;
  -webkit-transition: all 3s false;
  -moz-transition: all 3s false false;
  -o-transition: all 3s false false;
  transition: all 3s;
}

/* 更多设置 */
/* 修改密码 */
/* 恢复出厂 */

.overlay {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.popup {
  position: fixed;
  z-index: 2000;
  top: 40%;
  width: 300px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.popop-tip {
  padding: 30px;
  font-size: 16px;
  text-align: center;
}

.popup-btn-wrap .btn {
  width: 50%;
  margin: 0;
  border: none;
  border-radius: 0;
  float: left;
}

.popup-btn-wrap .btn:first-child {
  border-radius: 0 0 0 6px;
}

.popup-btn-wrap .btn:last-child {
  border-radius: 0 0 6px 0;
}

.popup-cancel {
  background: #eee;
}

.icon-more {
  float: right;
}
.icom-more:after {
  clear: both;
}


/* 引入font-face */
@font-face {
  font-family: 'a9icon';
  src:url('/fonts/a9icon.eot');
  src:url('/fonts/a9icon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/a9icon.ttf') format('truetype'),
    url('/fonts/a9icon.woff') format('woff'),
    url('/fonts/a9icon.svg#a9icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'a9icon';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reboot:before {
    content: "\e001";
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.icon-tenda:before {
    content: "\e002";
}
.icon-more:before {
    content: "\e003";
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    color: rgb(151,152,156);
}
.icon-internet:before {
  content: "\e004";
}
.icon-wireless:before {
    content: "\e005";
}
.icon-system:before {
    content: "\e006";
}
.icon-router:before {
  content: "\e007";
}
.icon-y:before {
    content: "\e008";
    font-size: 26px;
}
.icon-x:before {
    content: "\e009";
    font-size: 26px;
}
.icon-repeater:before {
    content: "\e00a";
}
.icon-refresh:before {
    content: "\e00b";
    font-size: 21px;
    position: absolute;
    left: 11px;
    top: 10px;
}
.icon-state:before {
    content: "\e00c";
}
.icon-device:before {
    content: "\e00d";
}
.icon-circle-background:before {
    content: "\e00e";
}
.icon-circle:before {
    content: "\e00f";
}
.icon-expander:before {
    content: "\e010";
}
.icon-hide:before {
    content: "\e011";
}
.icon-modify-pwd:before {
    content: "\e012";
    font-size: 21px;
    position: absolute;
    left: 11px;
    top: 14px;
} 
.icon-show:before {
  content: "\e013";
}
.icon-success:before {
    content: "\e014";
}
.icon-signal3:before {
    content: "\e015";
}
.icon-signal2:before {
    content: "\e016";
}
.icon-signal1:before {
    content: "\e017";
}
.icon-signal4:before {
    content: "\e018";
}
.icon-edit:before {
  content: "\e019";
}
/* font-face end */

.success-status {
  color: rgb(90,220,112);
}
.error-status {
  color: red;
}

#bridgeStatusDes:hover, #onlineNumTxtWrap:hover {
    cursor: pointer;
}
