.jSelect {
    font: 13px/2 'Microsoft YaHei','Times New Roman';
    position: absolute;
    display: inline-block;
    height: 30px;
    top: 0;
    padding-right: 4px;
    color: #333;
}

.jSelect input {
    width: 100%;
    padding-right: 35px;
}

.jSelect ul {
    position: relative;
    z-index: 100;
    top: 5px;
    left: 0;
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    color: #333;
    border: #aaa 1px solid;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background: #fff;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.jSelect li {
    line-height: 20px;
    height: 20px;
    padding-left: 6px;
}

.jSelect li:hover,.jSelect .active {
    margin-left: 0;
    color: #fff;
    background-color: #00B2EE;
}

.jSelect button {
    position: absolute;
    top: 0;
    right: 0;
}

.jSelect .btn {
    height: 30px;
    margin-top: 2px;
    margin-right: 5px;
    padding: 4px 12px;
    border: transparent;
    border-left: 1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none !important;
    background-color: #fff;
}

.btn:focus {
    outline: none;
}

.jSelect .form-control[readonly] {
    cursor: pointer;
    background-color: #fff;
}

select {
    visibility: hidden;
    width: 0;
    height: 34px;
}
