#section1{
	background-color:#87509c;
	position:relative;
	min-width:1280px;
	min-height:660px;
	h1{
		position:absolute;
		top:4%;
		left:50%;
		transform:translateX(-50%);
		font-size:4em;
		line-height:3em;
	}
}

.skill{
	width:100%;
	position:absolute;
	top:32%;
	left:50%;
	transform:translateX(-50%);
	text-align:center;
	.skill-top{
		margin-bottom:5%;
	}
	.circle{
		display:inline-block;
		margin:0 30px;
	}
}